/* Stuff to make codepen work */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* XV SCSS Variables */
:root {
    --xv-secondary-light-gray: #2f3557;
    --xv-secondary-dark-gray: #272f68;
    --xv-secondary-green: #81689D;
    --xv-secondary-ltgreen: #FFD0EC;
   
    
}

/* Outer Hexagon */
.hexagon-grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.hexagon {
    position: relative;
    width: 140px;
    height: 80.83px;
    background-color: var(--xv-secondary-dark-gray);
   
    margin: 44px 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.hexagon:hover {
    transform: scale(1.1) rotate(180deg); 
    
}
.hexagon:before,.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 40.41px solid var(--xv-secondary-dark-gray);
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 40.41px solid var(--xv-secondary-dark-gray);
}

/* ----------------Inner Hexagon -----------*/
.hexagon-inner {
    position: relative;
    width: 136px;
    height: 78.52px;
   
   
    margin: 39.26px 0;
    display: flex;
    justify-content: center;
}

.hexagon-inner:before, .hexagon-inner:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 68px solid transparent;
    border-right: 68px solid transparent;
    z-index: 1;
}

.hexagon-inner:before {
    bottom: 100%;
    border-bottom: 39.26px solid var(--xv-secondary-light-gray);
}

.hexagon-inner:after {
    top: 100%;
    width: 0;
    border-top: 39.26px solid var(--xv-secondary-light-gray);
}

/* --------------Media queries -------------*/
@media (min-width: 1920px) {
    .hexagon-grid-container {
        width: 1600px;
    }

    .hexagon:nth-child(21n+12) {
        margin-left: 74px;
    }
}

@media (max-width: 1919px) and (min-width: 1280px) {
    .hexagon-grid-container {
        width: 1100px;
    }

    .hexagon:nth-child(14n+8) {
        margin-left: 74px;
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .hexagon-grid-container {
        width: 960px;
    }

    .hexagon:nth-child(12n+7) {
        margin-left: 74px;
    }
}

@media (max-width: 1023px) and (min-width: 781px) {
    .hexagon-grid-container {
        width: 780px;
    }

    .hexagon:nth-child(9n+6) {
        margin-left: 74px;
    }
}

@media (max-width: 780px) and (min-width: 640px) {
    .hexagon-grid-container {
        width: 640px;
    }

    .hexagon:nth-child(7n+5) {
        margin-left: 74px;
    }
}

@media (max-width: 639px) {
    .hexagon-grid-container {
        width: 320px;
    }

    .hexagon:nth-child(3n+3) {
        margin-left: 74px;
    }
}

/*----------------- Avatar -------------------*/
.hexagon-avatar-img {
    position: absolute;
    width: 52px;
    border-radius: 53px;
    border: 2px solid #3611cdee;
    top: -24px;
    z-index: 1;
}

/*------------- Name -----------------*/
.hexagon-name {
    position: absolute;
    width: 130px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    top: 25px;
    z-index: 1;
}

/*------- Metric---------- */
.hexagon-metric-label {
    position: absolute;
    width: 130px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 12px;
    top: 48px;
    z-index: 1;
}

/* Score */
.hexagon-featured-score {
    position: absolute;
    z-index: 2;
    bottom: -24px;
    width: 32px;
    height: 32px;
    border-radius: 36px;
    border: 1px solid;
    text-align: center;
    padding-top: 9px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 12px;
    /* color: #fff; */
    background: lighten(var(--xv-secondary-dark-gray), 8%);
    border-color: var(--xv-secondary-ltgreen);
}

/* Right / Left Icons */
.hexagon-icon-left, .hexagon-icon-right {
    position: absolute;
    z-index: 2;
    top: 58px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 1px solid var(var(--xv-secondary-ltgreen));
    background: lighten(var(--xv-secondary-dark-gray), 8%);
    color: var(--xv-secondary-dark-gray);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.hexagon-icon-left {
    left: 3px;
}

.hexagon-icon-right {
    right: 3px;
}

/*--------- Hexagon 1st 3 position Color Coding----------- */

/* middle */
.hexagon.hexagon-green {
    background-color: var(--xv-secondary-light-gray);
   
}
/* -----top bodder-------- */
.hexagon.hexagon-green:before {
    border-bottom: 40.41px solid var(--xv-secondary-green);
}
/* ---------bottom border------- */
.hexagon.hexagon-green:after {
    border-top: 40.41px solid var(--xv-secondary-ltgreen);
}
/* -----------full bg---- */
.hexagon.hexagon-green .hexagon-inner {
    background-color: var(--xv-secondary-light-gray);
}

/* -----top----------- */
.hexagon.hexagon-green .hexagon-inner:before {
    border-bottom: 39.26px solid var(--xv-secondary-dark-gray);
}

/* ---------bottom--------- */
.hexagon.hexagon-green .hexagon-inner:after {
    border-top: 39.26px solid var(--xv-secondary-dark-gray);
}

.hexagon.hexagon-green .hexagon-featured-score {
    background: lighten(var(--xv-secondary-green), 5%);
    border-color: var(--xv-secondary-green);
}

/* ----------Repeat similar styles for other color-coded hexagons------------ */


/* --------------4 number card---------- */
/* --- middle----*/
.hexagon.hexagon-blue {
    background-color: var(--xv-secondary-blue);
}

/* -----top border---- */
.hexagon.hexagon-blue:before {
    border-bottom: 40.41px solid var(--xv-secondary-ltgreen);
}

/* ------ bottom boder--------*/
.hexagon.hexagon-blue:after {
    border-top: 40.41px solid var(--xv-secondary-green);
}

.hexagon.hexagon-blue .hexagon-inner {
    background-color: var(--xv-secondary-dark-gray);
}

/* ---------top area-------- */
.hexagon.hexagon-blue .hexagon-inner:before {
    border-bottom: 39.26px solid var(--xv-secondary-light-gray);
}

/* ----------botton area-------- */
.hexagon.hexagon-blue .hexagon-inner:after {
    border-top: 39.26px solid var(--xv-secondary-light-gray);
}

.hexagon.hexagon-blue .hexagon-featured-score {
    background: lighten(var(--xv-secondary-blue), 5%);
    border-color: var(--xv-secondary-blue);
}
/* ------------Icon Color Coding--------------- */
.hexagon-icon-green {
    background: lighten(var(--xv-secondary-green), 5%);
    border-color: var(--xv-secondary-dark-gray);
    color: var(--xv-secondary-ltgreen);
}

/* ----------------------yellow--------------- */
/* -----top border---- */
.hexagon.hexagon-yellow:before {
    border-bottom: 40.41px solid var(--xv-secondary-ltgreen);
}

/* --------------------- bottom boder--------*/
.hexagon.hexagon-yellow:after {
    border-top: 40.41px solid var(--xv-secondary-green);
}


