@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.light {
    --grape: #FDF2F2;
    --grape2: #F4F4F5;
    --tittle-color: #2c0835;
    --text-color: #7e3c8f;
    --spanText-color: #35D0A8;
    --btn-text-color: #3e1b47;
    --btn-bg-color: #1FF5E7;
      /* hexgon card */
      --bg-hexaprimary-color: #5a5d90;
      --bg-hexasecondary-color: #875e97;

}

.dark {
    --grape: #2c0835;
    --grape2: #3b1f69;
    --tittle-color: #FDF2F2;
    --text-color: #e6b8f1;
    --spanText-color: #F768BB;
    --btn-text-color: #cc00ff;
    --btn-bg-color: #0398FD;
    /* hexgon card */
    --bg-hexaprimary-color: #010758;
    --bg-hexasecondary-color: #490d61;

}